@page
@model Ganaderia.App.Presentacion.Pages.ListModel
@{
}
<h1>Listado de ganaderos</h1>

<table class="table">
  <tr class="table-success">
    <th>Person 1</th>
    <th>Person 2</th>
    <th>Person 3</th>
  </tr>
@foreach (var ganaderos in Model.Ganaderos)
{
  <tr>
    <td>@ganaderos.Nombres</td>
    <td>@ganaderos.NumeroTelefono</td>
    <td>@ganaderos.Correo</td>
  </tr>
}

  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>